.botonera {
  background-color: #43b0f1;
}
.botonera a {
  color: black;
  font-weight: 400;
}

.boton-buscar {
  border-color: rgb(102, 102, 102);
  color: rgb(56, 56, 56);
}
.boton-buscar:hover {
  background-color: rgb(102, 102, 102);
  border: rgb(56, 56, 56);
}
.boton-buscar:active {
  background-color: rgb(56, 56, 56) !important;
  border: rgb(56, 56, 56) !important;
}

footer {
  background-color: #9cc6df;
  list-style: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.mapa {
  padding: 10px;
}

.logos {
  padding: 10px;
}

footer ul {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: rgb(31, 29, 29);
  font-size: 1.2em;
}

.logos a {
  text-decoration: none;
}

@media (max-width: 786px) {
  .terminos-y-copyright, .terminos-y-copyright2 {
    display: none;
  }
  .mapa {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 290px) {
  .mapa {
    width: 140px;
    height: 140px;
  }
}
.header-promociones {
  width: 100%;
}

.fondo-promo {
  background-color: #e8eef1;
  height: 30%;
}

.productos-promociones {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productos-promociones figure {
  width: 30%;
  border: solid 1px rgb(3, 68, 141);
  margin-bottom: 20px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.productos-promociones figure img {
  width: 30%;
}
.productos-promociones figure figcaption {
  color: #2a9fac;
  font-size: 1.4em;
}
.productos-promociones figure p {
  text-align: center;
}
.productos-promociones figure button {
  border: none;
  background-color: #1e3d58;
  padding: 6px;
  color: rgb(235, 229, 229);
  border-radius: 4px;
  margin: 10px 0;
}
.productos-promociones figure button:hover {
  background-color: #132738;
}
.productos-promociones figure button:active {
  background-color: #038ce7;
  color: black;
}

@media (max-width: 1049px) {
  .productos-promociones figure figcaption {
    font-size: 1.3em;
  }
  .productos-promociones figure p {
    font-size: 0.9em;
  }
}
@media (max-width: 972px) {
  .productos-promociones {
    padding: 20px 0px;
  }
  .productos-promociones figure p {
    font-size: 1em;
  }
  .productos-promociones figure figcaption {
    font-size: 1.2em;
  }
}
@media (max-width: 890px) {
  .productos-promociones figure {
    width: 48%;
  }
  .productos-promociones figure img {
    width: 35%;
  }
}
@media (max-width: 572px) {
  .productos-promociones figure figcaption {
    font-size: 1.1em;
  }
}
@media (max-width: 540px) {
  .productos-promociones figure {
    width: 100%;
  }
  .productos-promociones figure img {
    width: 40%;
  }
  .productos-promociones figure figcaption {
    font-size: 1.2em;
  }
}
.h1-productos {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #038ce7;
}

.separador {
  background-color: #038ce7;
  width: 100%;
  height: 30px;
}

.ver-mas {
  display: flex;
  justify-content: center;
}
.ver-mas button {
  border: none;
  background-color: #1e3d58;
  padding: 3px;
  color: rgb(235, 229, 229);
  border-radius: 4px;
  margin: 10px 0;
}
.ver-mas button:hover {
  background-color: #132738;
}
.ver-mas button:active {
  background-color: #038ce7;
  color: black;
}

.camisetas {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.camisetas figure {
  width: 30%;
  border: solid 1px rgb(3, 68, 141);
  margin-bottom: 20px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.camisetas figure img {
  width: 30%;
}
.camisetas figure figcaption {
  color: #2a9fac;
  font-size: 1.4em;
}
.camisetas figure p {
  text-align: center;
}
.camisetas figure button {
  border: none;
  background-color: #1e3d58;
  padding: 6px;
  color: rgb(235, 229, 229);
  border-radius: 4px;
  margin: 10px 0;
}
.camisetas figure button:hover {
  background-color: #132738;
}
.camisetas figure button:active {
  background-color: #038ce7;
  color: black;
}

.fondo-camisetas {
  background-color: #e8eef1;
  height: 30%;
}

.h2-camisetas {
  color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 1049px) {
  .camisetas figure p {
    font-size: 0.9em;
  }
  .camisetas figure figcaption {
    font-size: 1.3em;
  }
}
@media (max-width: 972px) {
  .camisetas {
    padding: 20px 0px;
  }
  .camisetas figure p {
    font-size: 0.9em;
  }
  .camisetas figure figcaption {
    font-size: 1.1em;
  }
}
@media (max-width: 890px) {
  .camisetas {
    padding: 20px 0px;
  }
  .camisetas figure {
    width: 48%;
  }
}
@media (max-width: 540px) {
  .camisetas figure {
    width: 100%;
  }
  .camisetas figure figcaption {
    font-size: 1.2em;
  }
}
.pantalones {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pantalones figure {
  width: 30%;
  border: solid 1px rgb(3, 68, 141);
  margin-bottom: 20px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.pantalones figure img {
  width: 30%;
}
.pantalones figure figcaption {
  color: #2a9fac;
  font-size: 1.4em;
}
.pantalones figure p {
  text-align: center;
}
.pantalones figure button {
  border: none;
  background-color: #1e3d58;
  padding: 6px;
  color: rgb(235, 229, 229);
  border-radius: 4px;
  margin: 10px 0;
}
.pantalones figure button:hover {
  background-color: #132738;
}
.pantalones figure button:active {
  background-color: #038ce7;
  color: black;
}

.fondo-pantalones {
  background-color: #e8eef1;
  height: 30%;
}

.h2-pantalones {
  color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 1049px) {
  .pantalones figure figcaption {
    font-size: 1.3em;
  }
  .pantalones figure p {
    font-size: 0.9em;
  }
}
@media (max-width: 972px) {
  .pantalones {
    padding: 20px 0px;
  }
  .pantalones figure p {
    font-size: 0.9em;
  }
  .pantalones figure figcaption {
    font-size: 1.2em;
  }
}
@media (max-width: 890px) {
  .pantalones figure {
    width: 48%;
  }
}
@media (max-width: 572px) {
  .pantalones figure figcaption {
    font-size: 1.1em;
  }
}
@media (max-width: 540px) {
  .pantalones figure {
    width: 100%;
  }
  .pantalones figure figcaption {
    font-size: 1.3em;
  }
}
.grid {
  width: 100%;
  display: grid;
}
.grid figure {
  width: 100%;
  border: solid 1px rgb(3, 68, 141);
  margin-bottom: 20px;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.grid figure img {
  width: 30%;
}
.grid figure figcaption {
  color: #2a9fac;
  font-size: 1.4em;
}
.grid figure p {
  text-align: center;
}
.grid figure button {
  border: none;
  background-color: #1e3d58;
  padding: 6px;
  color: rgb(235, 229, 229);
  border-radius: 4px;
  margin: 10px 0;
}
.grid figure button:hover {
  background-color: #132738;
}
.grid figure button:active {
  background-color: #038ce7;
  color: black;
}

.grid-template-colums-row {
  grid-template-columns: 50% 50%;
  row-gap: 2px;
  column-gap: 10px;
}

.fondo-medias {
  background-color: #e8eef1;
  height: 30%;
}

.h2-medias {
  color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  text-align: center;
}

.section-medias {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 58px;
}

@media (max-width: 1049px) {
  .grid figure figcaption {
    font-size: 1.3em;
  }
  .grid figure p {
    font-size: 0.9em;
  }
}
@media (max-width: 972px) {
  .grid {
    padding: 20px 0px;
  }
  .grid figure p {
    font-size: 0.9em;
  }
  .grid figure figcaption {
    font-size: 1.2em;
  }
}
@media (max-width: 760px) {
  .section-medias {
    padding-left: 30px;
    padding-right: 38px;
  }
}
@media (max-width: 572px) {
  .grid figure figcaption {
    font-size: 1.1em;
  }
  .section-medias {
    padding-left: 20px;
    padding-right: 28px;
  }
}
@media (max-width: 540px) {
  .grid-template-colums-row {
    grid-template-columns: 100%;
  }
  .grid figure figcaption {
    font-size: 1.2em;
  }
}
.header-nosotros {
  background-color: antiquewhite;
}

.h1-header-nosotros {
  text-align: center;
  padding-top: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.p-header-nosotros {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

.equipo-nosotros h2 {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 20px;
}
.equipo-nosotros .equipo-div {
  display: flex;
}
.equipo-nosotros .equipo-div article {
  width: 80%;
  padding: 10px 0px 15px 0px;
  text-align: center;
  justify-content: center;
}
.equipo-nosotros .equipo-div article img {
  width: 80%;
}
.equipo-nosotros .equipo-div article p {
  padding: 15px 10px 0px 10px;
  margin: 0%;
}

@media (max-width: 900px) {
  .equipo-nosotros {
    padding: 20px 0px 20px 0px;
  }
  .equipo-nosotros .equipo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .equipo-nosotros .equipo-div article img {
    width: 65%;
  }
  .h1-header-nosotros {
    font-size: 1.6em;
  }
  .p-header-nosotros {
    font-size: 0.9em;
  }
}
@media (max-width: 650px) {
  .equipo-nosotros article p {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  .equipo-nosotros .equipo-div article img {
    width: 80%;
  }
  .equipo-nosotros .equipo-div article p {
    font-size: 1.1em;
  }
}
@media (max-width: 500px) {
  .equipo-nosotros .equipo-div article {
    padding-left: 10px;
    padding-right: 10px;
  }
  .equipo-nosotros .equipo-div article img {
    width: 75%;
  }
  .equipo-nosotros .equipo-div article p {
    font-size: 0.9em;
  }
  .h1-header-nosotros {
    font-size: 1.3em;
  }
}
@media (max-width: 360px) {
  .equipo-nosotros .equipo-div article {
    width: 90%;
  }
  .equipo-nosotros .equipo-div article img {
    width: 80%;
  }
  .equipo-nosotros .equipo-div article p {
    font-size: 0.85em;
  }
}
.email-contacto {
  width: 70%;
}

.mensaje-contacto {
  width: 100%;
}

.jugador-ok {
  width: 100%;
  padding-bottom: 20px;
}

.boton-contacto:hover {
  background-color: rgb(102, 102, 102);
}

.h1-header-contacto {
  padding-top: 35px;
  padding-left: 20px;
}

.h3-header-contacto {
  padding-left: 40px;
}

@media (max-width: 786px) {
  .jugador-ok {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
.contenido-error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8eef1;
}

.foto-error {
  padding: 46px 35px 46px 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-error {
  padding: 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-error h2 {
  margin-bottom: 6px;
  font-weight: 600;
}
.section-error p {
  margin-bottom: 10px;
  font-size: 1.1em;
}

@media (max-width: 830px) {
  .foto-error img {
    width: 85%;
  }
  .section-error h2 {
    font-size: 1.6em;
  }
  .section-error p {
    font-size: 0.9em;
  }
}
@media (max-width: 800px) {
  .foto-error {
    padding: 40px 5px 40px 5px;
  }
  .section-error {
    padding: 30px;
  }
}
@media (max-width: 786px) {
  .contenido-error {
    display: contents;
  }
  .foto-error {
    padding: 20px 5px;
  }
  .foto-error img {
    width: 30%;
  }
  .section-error {
    padding: 15px;
  }
}
@media (max-width: 520px) {
  .foto-error {
    padding: 20px 5px;
  }
  .foto-error img {
    width: 40%;
  }
  .section-error {
    padding: 15px 15px 30px 15px;
  }
  .section-error h2 {
    font-size: 1.3em;
  }
}
@media (max-width: 340px) {
  .foto-error {
    padding: 20px 5px;
  }
  .foto-error img {
    width: 50%;
  }
  .section-error {
    padding: 15px 15px 30px;
    font-size: 0.9em;
  }
}
.btn-gral {
  border: none;
  background-color: #1e3d58;
  padding: 6px;
  color: rgb(235, 229, 229);
  border-radius: 4px;
  margin: 10px 0;
}
.btn-gral:hover {
  background-color: #132738;
}
.btn-gral:active {
  background-color: #038ce7;
  color: black;
}

.btn-rounded {
  border: none;
  background-color: rgb(0, 153, 255);
  padding: 6px 15px 6px 15px;
  color: rgb(235, 229, 229);
  border-radius: 36px;
  margin-top: 10px;
}
.btn-rounded:hover {
  background-color: rgb(9, 119, 192);
}
.btn-rounded:active {
  background-color: rgb(23, 110, 168);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.foto-header-index {
  width: 100%;
}

.texto1 {
  background-color: #c2e4cb;
}
.texto1 h2 {
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
}
.texto1 p {
  font-size: 1em;
  line-height: 1.4em;
  color: rgb(56, 56, 56);
  padding: 4px;
  text-align: center;
  margin-bottom: 0%;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.fondo-index {
  background-color: #e8eef1;
}

.indumentaria {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

.productos-home {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productos-home figure {
  width: 30%;
  border: solid 1px rgb(3, 68, 141);
  margin-bottom: 20px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.productos-home figure img {
  width: 40%;
}
.productos-home figure figcaption {
  color: #2a9fac;
  font-size: 1.4em;
}
.productos-home figure p {
  text-align: center;
}
.productos-home figure button {
  border: none;
  background-color: #1e3d58;
  padding: 6px;
  color: rgb(235, 229, 229);
  border-radius: 4px;
  margin: 10px 0;
}
.productos-home figure button:hover {
  background-color: #132738;
}
.productos-home figure button:active {
  background-color: #038ce7;
  color: black;
}

@media (max-width: 1049px) {
  .productos-home figure figcaption {
    font-size: 1.3em;
  }
  .productos-home figure p {
    font-size: 1.1em;
  }
}
@media (max-width: 972px) {
  .productos-home figure figcaption {
    font-size: 1.1em;
  }
  .productos-home figure p {
    font-size: 0.9em;
  }
}
@media (max-width: 890px) {
  .productos-home figure {
    width: 48%;
  }
}
@media (max-width: 590px) {
  .texto1 p {
    font-size: 0.9em;
  }
  .texto1 h2 {
    font-size: 1.3em;
  }
}
@media (max-width: 565px) {
  .productos-home figure {
    width: 100%;
  }
  .productos-home figure figcaption {
    font-size: 1.1em;
  }
}

/*# sourceMappingURL=main.css.map */
