@import "_vars";

.botonera{
    background-color: $navColor;
    a{
        color: black;
        font-weight: $textRegular;
    }
}
.boton-buscar{
    border-color: $grisColor ;
    color: $keyColor;
    &:hover{
        background-color: $grisColor;
        border: $keyColor;
    }
    &:active{
        background-color: $keyColor !important;
        border: $keyColor !important; 
    }
}
