//variables globales
$mainColor: rgb(3, 68, 141);
$secondaryColor:#038ce7;
$keyColor:rgb(56, 56, 56);
$white:rgb(235, 229, 229);
$navColor:#43b0f1;
$buttonColor:#1e3d58;
$buttonHoverColor:#132738;
$backgroundColor:#e8eef1;
$footerColor:#9cc6df;
$grisColor:rgb(102, 102, 102);
$figcaptionColor:#2a9fac;
$texto1Color:#c2e4cb;

//weight
$textRegular:400;
$textLight:300;
$textBols:600;

//sizes
$textSm:0.9em;
$textMd:1.1em;
$textMd-Lg:1.2em;
$textLg:1.3em;
$figcaptionText:1.4em;
$textXl:1.6em;
