*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*Nav*/
.botonera{
    background-color: #43b0f1;
}
.botonera a{
    color: black;
}
.boton-buscar{
    border-color: rgb(102, 102, 102);
    color: black;
}
.boton-buscar:hover{
 background-color: rgb(56, 56, 56);
 border: rgb(56, 56, 56);
}
    header img{
        width: 100%;
    }
    main section{
        padding: 20px 30px;
    }
    h2,
    h3{
       margin: 10px 0;
       font-weight: 500;
       color: rgb(99, 98, 98);
    }
    p{
        font-size: 1.1em;
        line-height: 1.2em;
        color: rgb(19, 19, 19);
        font-weight: 300;
    }
    /*Footer*/
    footer{
        background-color: #9cc6df;
        list-style: none;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    .mapa{
        padding: 10px;
    }
    .logos{
        padding: 10px;
    }
    footer ul li a{
        text-decoration: none;
        color: rgb(31, 29, 29);
        font-size: 1.2em;
    }
    footer ul{
        list-style: none;
    }
    .logos a{
        text-decoration: none;
    }

    @media (max-width: 786px) {
        .terminos-y-copyright, .terminos-y-copyright2 {
          display: none;
        }
      }

      

    /*Empieza CSS index*/
    /*Texto 1*/
    .texto1{
        background-color: #c2e4cb;
        margin-top: -5px;
    }
    .texto1 h2{
        text-align: center;
    }
    .texto1 p{
        text-align: center;
    }
    /*Productos destacados*/
    .indumentaria{
        padding-top: 70px;
        padding-bottom: 10px;
        text-align: center;
    }
    

    /* Productos Destacados de la Home */
.productos-home{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.productos-home figure img{
    width: 40%;

}
.productos-home figure{
    width: 30%;
    border: solid 1px rgb(3, 68, 141);
    margin-bottom: 20px;
   padding: 10px 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
}
.productos-home figure figcaption{
    color: #498288;
    font-size: 1.4em;
}
.productos-home figure p{
    text-align: center;
}
.productos-home figure button{
    border: none;
    background-color: black;
    padding: 6px;
    color: white;
    border-radius:  4px;
    margin: 10px 0;
}
/*Termina CSS index*/

/*Empieza CSS promociones*/

.productos-promociones{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.productos-promociones figure img{
    width: 25%;
}
.productos-promociones figure{
    width: 30%;
    border: solid 1px rgb(3, 68, 141);
    margin-bottom: 20px;
   padding: 10px 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
}

.equipo-nosotros article img{
    width: 25%;
}
.productos-promociones figure figcaption{
    color: #498288;
    font-size: 1.4em;
}
.productos-promociones figure p{
    text-align: center;
}
.productos-promociones figure button{
    border: none;
    background-color: black;
    padding: 6px;
    color: white;
    border-radius:  4px;
    margin: 10px 0;
}
/*Termina CSS promociones*/

/*Empieza CSS nosotros*/
.header-nosotros{
    background-color: antiquewhite;
}
.h1-header-nosotros{
    text-align: center;
    padding-top: 15px;
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.p-header-nosotros{
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
.equipo-nosotros H2{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 40px;
}
.equipo-nosotros article{
    display: inline-block;
    width: 30%;
    padding-bottom: 40px;
    padding-left: 30px;
}
.equipo-nosotros article img{
    width: 80%;
}

/*Termina CSS Nosotros*/
/*Comienza CSS Contacto*/
.email-contacto{
    width: 70%;
}

.mensaje-contacto{
    width: 100%;
}

.jugador-ok{
    width: 100%;
}
.boton-contacto:hover{
 background-color: rgb(80, 79, 79);
}
.h1-header-contacto{
    padding-top: 35px;
    padding-left: 20px;
}
.h3-header-contacto{
    padding-left: 40px;
}
@media (max-width: 786px) {
    .jugador-ok{
        padding-top: 20px;
        padding-bottom: 10px;
    }
  }
  /*Termina CSS Contacto*/
  /*Comienza CSS Productos*/
  .h1-productos{
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #038ce7;
  }
  .separador{
    background-color: #038ce7;
    width: 100%;
    height: 30px;
  }
  .ver-mas{
    display: flex;
    justify-content: center;
}
.ver-mas button{
    border: none;
    background-color: #1e3d58;
    padding: 3px;
    color: white;
    border-radius:  4px;
    margin: 10px 0;
}
.ver-mas button:hover{
    background-color: #132738;
}
  /*Comienza CSS Camisetas*/
.camisetas{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.camisetas figure img{
    width: 30%;
}
.camisetas figure{
    width: 30%;
    border: solid 1px rgb(3, 68, 141);
    margin-bottom: 20px;
   padding: 10px 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
}
.camisetas figure figcaption{
    color: #2a9fac;
    font-size: 1.4em;
}
.camisetas figure p{
    text-align: center;
}
.camisetas figure button{
    border: none;
    background-color: #1e3d58;
    padding: 6px;
    color: white;
    border-radius:  4px;
    margin: 10px 0;
}
.fondo-camisetas{
    background-color: #e8eef1;
    height: 30%;
}
.h2-camisetas{
  color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  text-align: center;
}
.camisetas figure button:hover{
    background-color: #132738;
}
@media (max-width: 1049px) {

    .camisetas figure figcaption{
        font-size: 1.3em;
    } 
    .camisetas figure p{
        font-size: 1.01em;  
    }
}
@media (max-width: 972px) {
    .camisetas{
        padding: 20px 0px;
      }
      .camisetas figure p{
        font-size: 1em;  
    }
    .camisetas figure figcaption{
        font-size: 1.2em;
    } 
}
@media (max-width: 890px) {
    .camisetas figure{
        width: 48%;
    }
}
@media (max-width: 572px) {

    .camisetas figure figcaption{
        font-size: 1.1em;
    } 
}
@media (max-width: 540px) {
    .camisetas figure{
        width: 100%;
    }
    .camisetas figure figcaption{
        font-size: 1.2em;
    } 
}
/*Termina CSS Camisetas*/
/*Comienza CSS Pantalones*/
.pantalones{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pantalones figure img{
    width: 30%;
}
.pantalones figure{
    width: 30%;
    border: solid 1px rgb(3, 68, 141);
    margin-bottom: 20px;
   padding: 10px 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
}
.pantalones figure figcaption{
    color: #2a9fac;
    font-size: 1.4em;
}
.pantalones figure p{
    text-align: center;
}
.pantalones figure button{
    border: none;
    background-color: #1e3d58;
    padding: 6px;
    color: white;
    border-radius:  4px;
    margin: 10px 0;
}
.fondo-pantalones{
    background-color:  #e8eef1;
    height: 30%;
}
.h2-pantalones{
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    text-align: center;
}
.pantalones figure button:hover{
    background-color: #132738;
}
@media (max-width: 1049px) {

    .pantalones figure figcaption{
        font-size: 1.3em;
    } 
    .pantalones figure p{
        font-size: 1.01em;  
    }
}
@media (max-width: 972px) {
    .pantalones{
        padding: 20px 0px;
      }
      .pantalones figure p{
        font-size: 1em;  
    }
    .pantalones figure figcaption{
        font-size: 1.2em;
    } 
}
@media (max-width: 890px) {
    .pantalones figure{
        width: 48%;
    }
}
@media (max-width: 572px) {

    .pantalones figure figcaption{
        font-size: 1.1em;
    } 
}
@media (max-width: 540px) {
    .pantalones figure{
        width: 100%;
    }
    .pantalones figure figcaption{
        font-size: 1.2em;
    } 
}
/*Termina CSS Pantalones*/
/*Comienza CSS Medias*/
.grid{
    width: 100%;
    display: grid;
    
}
.grid-template-colums-row{
    grid-template-columns: 50% 50%;
    row-gap: 2px;
    column-gap: 10px;
}
.grid figure img{
    width: 30%;
}
.grid figure{
    width: 100%;
    border: solid 1px rgb(3, 68, 141);
    margin-bottom: 20px;
   padding: 10px 10px;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
}
.grid figure figcaption{
    color: #2a9fac;
    font-size: 1.4em;
}
.grid figure p{
    text-align: center;
}
.grid figure button{
    border: none;
    background-color:  #1e3d58;
    padding: 6px;
    color: white;
    border-radius:  4px;
    margin: 10px 0;
}
.fondo-medias{
    background-color: #e8eef1;
    height: 30%;
}
.h2-medias{
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    text-align: center;
}
.grid figure button:hover{
    background-color: #132738;
}
.section-medias{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 58px;
}
@media (max-width: 1049px) {

    .grid figure figcaption{
        font-size: 1.3em;
    } 
    .grid figure p{
        font-size: 1.01em;  
    }
}
@media (max-width: 972px) {
    .grid{
        padding: 20px 0px;
      }
      .grid figure p{
        font-size: 1em;  
    }
    .grid figure figcaption{
        font-size: 1.2em;
    } 
}
@media (max-width: 760px) {
    .section-medias{
        padding-left: 30px;
        padding-right: 38px;
    }
}
@media (max-width: 572px) {

    .grid figure figcaption{
        font-size: 1.1em;
    } 
    .section-medias{
        padding-left: 20px;
        padding-right: 28px;
    }
}
@media (max-width: 540px) {
    .grid-template-colums-row{
        grid-template-columns: 100%;
    }
    .grid figure figcaption{
        font-size: 1.2em;
    } 
}